## Assignment: Data Types and Structures

1. **what is data structure in python and why is it important?**   
    - Data structures in Python are specialized formats for organizing, processing, and storing data efficiently.  
    - They are important because they enable efficient data management, retrieval, and manipulation, which is crucial for optimizing performance in software applications.  

2. **Explain the difference between mutable and immutable data types with examples.**
    - Mutable data types can be changed after they are created, while immutable data types cannot be changed once created.
    - Examples of mutable data types include lists and dictionaries:      
        - List example:
            ``` python
            my_list = [1, 2, 3]; my_list[0] = 10  # my_list is now [10, 2, 3]  
            ```
        - Dictionary example:
            ```python
            my_dict = {'a': 1, 'b': 2}; my_dict['a'] = 10  # my_dict is now {'a': 10, 'b': 2}
            ```
    - Examples of immutable data types include strings and tuples:  
    
        - String example:
            ``` python
            my_string = "hello"; my_string[0] = "H"  # This will raise an error  
            ```

        - Tuple example:
            ```python
            my_tuple = (1, 2, 3); my_tuple[0] = 10  # This will also raise an erro
            ```

3.  What are the main differences between lists and tuples in Python3?   
     1. Mutability:
        - Lists are mutable, meaning their elements can be changed, added, or removed after creation.
        - Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.
     2. Syntax:
        - Lists are defined using square brackets: `my_list = [1, 2, 3]`
        - Tuples are defined using parentheses: `my_tuple = (1, 2, 3)`
     3. Performance:
        - Tuples are generally faster than lists for certain operations due to their immutability.
     4. Use Cases:
        - Lists are typically used when a collection of items needs to be modified.
        - Tuples are used when a collection of items should remain constant and not change.  
         
         Example:
           ``` python
            my_list = [1, 2, 3]
            my_tuple = (1, 2, 3)    
           ```

4. **Describe how dictionaries store data**  
    - Dictionaries store data in key-value pairs.  
    - Each key is unique and used to access its corresponding value.  
    - Internally, Python dictionaries use a hash table for fast lookup and retrieval.  

5. **Why might you use a set instead of a list in Python?**  
    - Sets automatically remove duplicate values.  
    - They provide faster membership testing than lists.  
    - Useful when you need to store unique items without caring about their order.  

6. **What is a string in Python, and how is it different from a list?**  
    - A string is a sequence of characters enclosed in quotes.  
    - Strings are immutable, meaning they cannot be changed after creation.  
    - Lists are mutable and can contain elements of different data types.  

7. **How do tuples ensure data integrity in Python?**  
    - Tuples are immutable, meaning their elements cannot be changed after creation.  
    - This immutability prevents accidental modification of data, ensuring data integrity.  

8. **What is a hash table, and how does it relate to dictionaries in Python?**  
    - A hash table is a data structure that stores data using key-value pairs.  
    - It uses a hash function to quickly locate keys.  
    - Python dictionaries are implemented using hash tables.  

9. **Can lists contain different data types in Python?**  
    - Yes, lists can store elements of different data types such as integers, strings, and even other lists.  

10. **Explain why strings are immutable in Python**  
    - Strings are immutable to improve memory efficiency and security.  
    - This allows Python to reuse string objects and optimize performance.  

11. **What advantages do dictionaries offer over lists for certain tasks?**  
    - Dictionaries provide fast data access using keys instead of numeric indexes.  
    - They are useful for storing data that is logically connected, like user details.  

12. **Describe a scenario where using a tuple would be preferable over a list**  
    - Tuples are preferable when data should not change, such as storing coordinates or configuration constants.  

13. **How do sets handle duplicate values in Python?**  
    - Sets automatically eliminate duplicate entries.  
    - If you try to add an existing value, it is ignored.  

14. **How does the “in” keyword work differently for lists and dictionaries?**  
    - In lists, `in` checks whether a value exists in the list elements.  
    - In dictionaries, `in` checks for the presence of a key, not a value.  

15. **Can you modify the elements of a tuple? Explain why or why not.**  
    - No, tuples are immutable.  
    - Once created, their elements cannot be changed, added, or removed.  

16. **What is a nested dictionary, and give an example of its use case.**  
    - A nested dictionary is a dictionary that contains another dictionary as its value.  
    - Example:  
      ```python
      student = {
          "name": "Parag",
          "marks": {"math": 90, "science": 85}
      }
      ```  

17. **Describe the time complexity of accessing elements in a dictionary.**  
    - The average time complexity is **O(1)** due to hash table implementation.  
    - In the worst case (hash collisions), it can be **O(n)**.  

18. **In what situations are lists preferred over dictionaries?**  
    - When you need ordered data or simple sequences.  
    - When key-value mapping is not required.  

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
    - Before Python 3.7, dictionaries did not maintain insertion order.  
    - Even though Python 3.7+ maintains insertion order, the concept of “unordered” still applies because key positions are based on hash values.  

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
    - Lists use integer indexes to access elements (e.g., `list[0]`).  
    - Dictionaries use unique keys to access values (e.g., `dict["name"]`).

In [18]:
# 1. Write a code to create a string with your name and print it
name = "Parag"
print(name)

Parag

In [19]:
# 2. Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [20]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [21]:
# 4. Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [22]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [23]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [24]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [25]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_remove = [1, 2, 3, 4, 5]
list_remove.remove(3)
print(list_remove)

[1, 2, 4, 5]

In [26]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [27]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [28]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
numbers_tuple = (100, 200, 300)
print(numbers_tuple)

(100, 200, 300)

In [29]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [30]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [31]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [32]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [33]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
letters_set = {'a', 'b', 'c'}
print(letters_set)

{'b', 'a', 'c'}

In [34]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
numbers_set = {1, 2, 3, 4, 5}
numbers_set.clear()
print(numbers_set)

set()

In [35]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set_remove = {1, 2, 3, 4}
set_remove.remove(4)
print(set_remove)

{1, 2, 3}

In [36]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [37]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
setA = {1, 2, 3}
setB = {2, 3, 4}
print(setA.intersection(setB))

{2, 3}

In [38]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [39]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
info = {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

In [41]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
details.pop("age")
print(details)

{'name': 'Bob', 'city': 'New York'}

In [42]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dictionary = {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary)

True

In [43]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [10, 20, 30, 40]
my_tuple = (1, 2, 3, 4)
my_dict = {"name": "Parag", "age": 23, "city": "Pune"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: (1, 2, 3, 4)
Dictionary: {'name': 'Parag', 'age': 23, 'city': 'Pune'}

In [44]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [6, 14, 28, 52, 98]

In [45]:
# 28. Write a code to create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", words[3])

Element at third index: date

In [46]:
# 29. Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [47]:
# 30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print("Set from list:", string_set)

Set from list: {'cherry', 'banana', 'apple'}